@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* important for image fit */
img {
    max-width: 15%;
    height: auto;
}

@media(min-width:60rem) {
    img {
        max-width: 7%;
        position: absolute;
        left: 30px;
        bottom: -27px;
    }
}

.container {
    width: 95%;
    margin: 0 auto;
    padding-top: 5rem;
}

/* Typography */
.title {
    font-size: 2.5rem;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

@media(min-width:60rem) {
    .title {
        font-size: 3.5rem;
    }
}

/* Buttons */
.button {
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
    font-weight: 500;
}

.button-accent {
    color: white;
    border-color: #cc0000;
    background-color: #cc0000;
}

.button-accent:hover,
.button-accent:focus {
    background-color: #cc0000;
    color: #232323;
}

@media (min-width:60rem) {
    .button {
        font-size: 1.35rem;
    }
}

/* Header */
header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

/* navbar */
nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: white;
}

nav a:hover,
nav a:focus {
    color: #ddd;
}

@media(min-width:60rem) {
    .logo {
        float: left;
    }

    nav {
        float: right;
    }
}

/* Home-hero */
.home-hero {
    background-image: url(./images/tesla.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #fff;
}

@media(min-width:60rem) {
    .home-hero {
        height: 100vh;
        padding: 30vh;
    }
}